<link rel="stylesheet" href="/css/login.css">
<div class="jumbotron mt-1">
    <img src="/img/logocarballo.png" class="logocarballologin" alt="">

    <p class="lead">Sistema de procesamiento de solicitudes para los empleados</p>
    <div class="loginform">
        <div class="userspace">
            <p class="workcodetext">Codigo</p>
            <input type="text" name="" id="" class="workcodecamp" placeholder="Codigo de empleado">
        </div>
        <div class="passwordspace">
            <p class="passwordtext">Clave de acceso</p>
            <input type="password" name="" id="" class="passwordcamp" placeholder="Contraseña">
        </div>
    </div>

    <div class="btn-container">
        <a href="#" class="btn btn-primary btn-lg">Iniciar Sesion</a>

        

    </div>
    


</div>
