<div class="jumbotron mt-1">

    <p class="lead"> Registro de empleados Sistema de procesamiento de solicitudes para los empleados de <br> Almacenes Carballo SRL</p>

    <div class="btn-container">
        <a href="#" class="btn btn-primary btn-lg">Iniciar Sesion</a>
        <a href="#" class="btn btn-primary btn-lg">Cancelar</a>
        

    </div>
    


</div>
