<div class="jumbotron mt-1">

    <p class="lead"> Sistema de soprote para empleados. <br></p>


    <div class="btn-container">
        <a href="#" class="btn btn-primary btn-lg">Iniciar Sesion</a>
        <a href="#" class="btn btn-primary btn-lg">Cancelar</a>
        

    </div>
    


</div>
